<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Bing.Url" value="https://api.datamarket.azure.com/Bing/SearchWeb/v1/" />
    <add key="Bing.AccessKey" value="SET ACCESS KEY" />
  </appSettings>
</configuration>